.App-header {
  background-color: #fff;
  height: 100vh;
}
.react-parallax {
  height: 100%;
}
.headerFixed {
  position: absolute;
  width: 9rem;
  top: 3rem;
  left: 50vw;
  z-index: 1
}
.headerFixed img {
  margin-left: -4.5rem;
  width: 100%;
  height: auto;
  opacity: 0.7;

  animation: fadeinLogo 1.5s;
}
@keyframes fadeinLogo {
    from { opacity: 0; margin-top: -1rem}
    to   { opacity: 0.7; margin-top: 0}
}

.headerTitle {
  z-index: 2;
  animation: fadein 1.5s;
}
.headerTitle h1 {
  text-align: center;
  color: white !important;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);

  text-transform: uppercase;
  line-height: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 4rem !important;
}
@keyframes fadein {
    from { opacity: 0; margin-top: -1rem}
    to   { opacity: 1; margin-top: 0}
}

a, a:visited {
  color: #A8B275;
  display: inline-block;
  transition: color 0.3s;
}
a:hover {
  color: #60683a
}
a::after {
    content: '';
    background: rgba(168, 178, 117, 0.6);
    display: block;
    position: relative;
    margin-top: -1px;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

a:hover::after {
    width: 100%;
}
